version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: basic-backend
    ports:
      - ${PORT}:${PORT}
    environment:
      - PORT=${PORT}
      - FILEPATH=${FILEPATH}
    restart: unless-stopped
